body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100vh;
    width: 100%;
    gap: 0rem;
    // justify-content: center;
    // background-color: #9A4444;
}

@mixin navigation(){
    ul{
        list-style: none;
        display: flex;
        a{
            text-decoration: none;
        }
    }
}
.top-nav{
    @include navigation();
    background-color: #9A4444;
    height: 40px;
    top: 0;
    // padding-top: 0.1px;
    ul{
        margin-right: 5rem;
        justify-content: flex-end;
        gap: 2rem;
        // margin-top: 10px;
        a{            
            color: white;
            font-size: .7rem;
            &:hover{
                color: rgb(248, 248, 137);
            }
        }
    }
}
.sticky-nav{
    @include navigation();
    background-color: #DE8F5F;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: -webkit-sticky;
    position: sticky;
    // justify-items: auto;
    // justify-content: center;
    justify-content: space-around;
    top: 0;
    z-index: 9999;
    ul{
        
        gap: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;

        // height: 100%;
        // margin-top: 5px;
        // gap: 5rem;
        margin: 0px;
        width: 100%;
        li{
            // background-color: red;
            width: 200px;
            height: 60px;
            // padding: 0p;
            // height: 60px;
            text-align: center;
            margin: 0px;
            a{
                div{
                    text-align: center;
                    width: 200px;
                    height: 60px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                
                    color: white;
                    font-size: 1rem;
                }
                &:hover{
                    div{
                        background-color: #dba787;
                    }
                }
            }
        }
    }
}
.fixed-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0px; 
    max-height: 60px;
}

.jumbotron{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .jumbotron-img{
        overflow: hidden;
        width: 100%;
        max-height: 700px;
        img{
            width: 100%;
            min-height: 100%;
        }
    }      
    .media{
        align-items: center;
        display: flex;
        position: absolute;
        flex-direction: column;
        gap: 20px;
        iframe{
            width: 500px;
            height: 300px;
            z-index: 1000;
            border-radius: 2%;
            border-color: black;
        }
        a{
            text-decoration: none;
            .button-playnow{
                text-align: center;
                width: 400px;
                height: 100px;
                background-color: #9A4444;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: white;
                font-size: 2rem;
            }
        }
        
        .media-list{
            display: flex;
            flex-direction: row;
            list-style: none;
            gap: 50px;
            li{
                img{
                    width: 150px;
                }
            }
        }
    }
}
.reviews{
    background-color: #9A4444;
    height: 170px;
    ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-around;
        li{
            display: flex;
            max-width: 300px;
            align-items: center;
            flex-direction: column;
            img{
                width: 200px;
            }
            p{
                color: white;
            }
        }
    }
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    .feature1{
        position: relative;
        background-color: white;
        width: 100%;
        height: 700px;
        overflow: hidden;
        .feature1Desc{
            display: flex;
            position: absolute;
            width: 50%;
            height: 700px;
            background-color: rgba($color: #000000, $alpha: 0.5);
            opacity: 1;
            z-index: 1000;
            left: 50%;
            justify-items: center;
            align-items: center;
            justify-content: space-around;
            .feature1Previous{ 
                min-width: 50px;
                min-height: 50px;
                background-color: salmon;
            }
            .feature1Banner{
                .feature-number{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10%;
                    .feature-title{
                        color: white;
                    }
                    .line{
                        width: 50%;
                        height: 0px;
                        border-top: 0.1px;
                        border-style: solid;
                        border-color: white;
                    }
                    .feaguredigit{
                        border-radius: 50%;
                        min-width:  50px;
                        min-height: 43px;
                        padding-top: 6px;
                        border: 2px solid red;
                        color: red;
                        text-align: center;
                        font: 32px Arial, sans-serif;
                    }
                }
                .featureText{
                    max-width: 400px;
                    color: white;  
                }
            }
            .feature1Next{
                min-width: 50px;
                min-height: 50px;
                background-color: salmon;
            }
        }
        .feature1Images{
            img{
                margin-bottom: -4px;
                width: 2000px;
            }
        }
    }
        
    .feature2{
        position: relative;
        background-color: white;
        width: 100%;
        height: 700px;
        overflow: hidden;
        .feature2Desc{
            display: flex;
            position: absolute;
            width: 50%;
            height: 700px;
            background-color: rgba($color: #000000, $alpha: 0.5);
            opacity: 1;
            z-index: 1000;
            justify-items: center;
            align-items: center;
            justify-content: space-around;
            .feature2Previous{
                min-width: 50px;
                min-height: 50px;
                background-color: salmon;
            }
            .feature2Banner{
                .feature-number{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10%;
                    .feature-title{
                        color: white;
                    }
                    .line{
                        width: 50%;
                        height: 0px;
                        border-top: 0.1px;
                        border-style: solid;
                        border-color: white;
                    }
                    .feaguredigit{
                        border-radius: 50%;
                        min-width:  50px;
                        min-height: 43px;
                        padding-top: 6px;
                        border: 2px solid red;
                        color: red;
                        text-align: center;
                        font: 32px Arial, sans-serif;
                    }
                }
                .featureText{
                    max-width: 400px;
                    color: white;                 
                }
            }
            .feature2Next{
                min-width: 50px;
                min-height: 50px;
                background-color: salmon;
            }
        }
        .feature2Images{
            img{
                margin-bottom: -4px;
                width: 2000px;
            }
        }
    }
    .feature3{
        position: relative;
        background-color: white;
        width: 100%;
        height: 700px;
        overflow: hidden;
        .feature3Desc{
            display: flex;
            position: absolute;
            width: 50%;
            height: 700px;
            background-color: rgba($color: #000000, $alpha: 0.5);
            opacity: 1;
            z-index: 1000;
            left: 50%;
            justify-items: center;
            align-items: center;
            justify-content: space-around;
            .feature3Previous{   
                min-width: 50px;
                min-height: 50px;
                background-color: salmon;
            }
            .feature3Banner{
                .feature-number{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10%;
                    .feature-title{
                        color: white;
                    }
                    .line{
                        width: 50%;
                        height: 0px;
                        border-top: 0.1px;
                        border-style: solid;
                        border-color: white;
                    }
                    .feaguredigit{
                        border-radius: 50%;
                        min-width:  50px;
                        min-height: 43px;
                        padding-top: 6px;
                        border: 2px solid red;
                        color: red;
                        text-align: center;
                        font: 32px Arial, sans-serif;
                    }
                }
                .featureText{
                    max-width: 400px;
                    color: white; 
                }
            }
            .feature3Next{  
                min-width: 50px;
                min-height: 50px;
                background-color: salmon;
            }
        }
        .feature3Images{
            img{
                margin-bottom: -4px;
                width: 2000px;
            }
        }
    }
}
.crossplatform{
    width: 100%;
    height: 700px;
    background-image: url('../img/crossplay-bg-colored.png');
    background-size: cover;
    background-position:20%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    // flex: 1;
    .crossplatformdesc{
        display: flex;
        margin: 0;
        gap: 0px;
        width: 50%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // background-color: red;
        h1{
            color: white;
            font-size: 2.5rem;
            text-align: center;
        }
        h3{
            margin-top: -15px;
            color: white;
            font-size: 1rem;
            text-align: center;
        }
        a{
            color:  yellow;
        }
        img{
            width: 550px;
            
        }
    }
}
.news{
    background-image: url('../img/news-background1.png');
    background-size: cover;
    width: 100%;
    height: 700px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    .newsdesc{
        height: 100%;
        width: 70%;
        // background-color: red;
        
        h1{
            font-size: 2.5rem;
            // padding-left: 40px;
        }
        h3{
            font-size: 1rem;
            // padding-left: 40px;
        }
        ul{
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding-inline-start: 0px;
            li{
                // background-color: blue;
                img{
                    width: 300px;
                    height: 200px;
                }
                .newsdate{

                }
                strong{

                }
                .newscontent{
                    max-width: 300px;
                }
                .readmore{

                }
            }
        }
    }
}
.imageTransition{
    opacity: 1;
    animation: fade 0.5s linear;
}
@keyframes fade{
    0% { opacity: 0 }
    100% { opacity: 1 }
}

