body{
    display: flex;
    flex-direction: column;
    margin: 0px;
    height: 100vh;
    width: 100%;
    gap: 0rem;
    // justify-content: center;
    // background-color: #9A4444;
}

@mixin navigation(){
    ul{
        list-style: none;
        display: flex;
        a{
            text-decoration: none;
        }
    }
}
.top-nav{
    @include navigation();
    background-color: #1a1a1a;
    height: 40px;
    top: 0;
    // padding-top: 0.1px;
    ul{
        margin-right: 5rem;
        justify-content: flex-end;
        gap: 2rem;
        // margin-top: 10px;
        a{            
            color: white;
            font-size: .7rem;
            &:hover{
                color: rgb(248, 248, 137);
            }
        }
    }
}
.sticky-nav{
    @include navigation();
    background-color: #531405;
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: -webkit-sticky;
    position: sticky;
    // justify-items: auto;
    // justify-content: center;
    justify-content: space-around;
    top: 0;
    z-index: 9999;
    img{
        margin: 10px;
        height: 30px;
    }
    ul{
        gap: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        // height: 100%;
        // margin-top: 5px;
        // gap: 5rem;
        margin: 0px;
        width: 100%;
        li{
            // background-color: red;
            width: 200px;
            height: 60px;
            // padding: 0p;
            // height: 60px;
            text-align: center;
            margin: 0px;
            a{
                div{
                    text-align: center;
                    width: 200px;
                    height: 60px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    color: #dad1cf;
                    font-size: 1rem;
                }
                &:hover{
                    div{
                        background-color: #711000;
                        color: #ebe6c3;
                    }
                }
            }
        }
    }
}
.fixed-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0px; 
    max-height: 60px;
}

.jumbotron{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .jumbotron-img{
        overflow: hidden;
        width: 100%;
        max-height: 700px;
        img{
            width: 100%;
            min-height: 100%;
        }
    }      
    .media{
        align-items: center;
        display: flex;
        position: absolute;
        flex-direction: column;
        gap: 20px;
        iframe{
            width: 500px;
            height: 300px;
            z-index: 1000;
            border-radius: 2%;
            border-color: black;
        }
        a{
            text-decoration: none;
            .button-playnow{
                text-align: center;
                width: 400px;
                height: 100px;
                background-color: #ec552c;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: white;
                font-size: 2rem;
            }
            &:hover{
                div{
                    background-color: #db461e;
                }
            }
        }
        
        .media-list{
            display: flex;
            flex-direction: row;
            list-style: none;
            gap: 50px;
            li{
                img{
                    width: 150px;
                }
            }
        }
    }
}
.reviews{
    background-color: #1a1a1a;
    height: 170px;
    ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        justify-content: space-around;
        li{
            display: flex;
            max-width: 300px;
            align-items: center;
            flex-direction: column;
            img{
                width: 200px;
            }
            p{
                color: #b8b7b7;
            }
        }
    }
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
    .feature1{
        position: relative;
        background-color: white;
        width: 100%;
        height: 700px;
        overflow: hidden;
        .feature1Desc{
            display: flex;
            position: absolute;
            width: 50%;
            height: 700px;
            background-color: rgba($color: #000000, $alpha: 0.5);
            opacity: 1;
            z-index: 1000;
            left: 50%;
            justify-items: center;
            align-items: center;
            justify-content: space-around;
            .feature1Previous{ 
                min-width: 50px;
                min-height: 50px;
                // background-color: salmon;
                border-radius: 50%;
                border-style: solid;
                border-color: white;
                border-width: 3px;
                img{
                    filter: brightness(0) invert(1);
                    margin-top: 5px;
                    max-width: 40px;
                }
                &:hover{
                    // border-color: red;
                    box-shadow: 0px 0px 10px 5px white;
                }
            }
            
            .feature1Banner{
                .feature-number{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10%;
                    .feature-title{
                        color: #c5ab6a;
                    }
                    .line{
                        width: 50%;
                        height: 0px;
                        border-top: 0.1px;
                        border-style: solid;
                        border-color: #c5ab6a;
                    }
                    .feaguredigit{
                        border-radius: 50%;
                        min-width:  50px;
                        min-height: 43px;
                        padding-top: 6px;
                        border: 2px solid #c5ab6a;
                        color: #c5ab6a;
                        text-align: center;
                        font: 32px Arial, sans-serif;
                    }
                }
                .featureText{
                    max-width: 400px;
                    color: white;  
                    h1{
                        color: #e4e1cf;
                    }
                    h3{
                        color: #f7a021;
                    }
                    p{
                        color: #f6f0e7;
                    }
                }
            }
            .feature1Next{
                min-width: 50px;
                min-height: 50px;
                // background-color: salmon;
                border-radius: 50%;
                border-style: solid;
                border-color: white;
                border-width: 3px;
                img{
                    filter: brightness(0) invert(1);
                    margin-left: 10px;
                    margin-top: 5px;
                    max-width: 40px;
                }
                &:hover{
                    // border-color: red;
                    box-shadow: 0px 0px 10px 5px white;
                }
            }
        }
        .feature1Images{
            img{
                margin-bottom: -4px;
                width: 2000px;
            }
        }
    }
        
    .feature2{
        position: relative;
        background-color: white;
        width: 100%;
        height: 700px;
        overflow: hidden;
        .feature2Desc{
            display: flex;
            position: absolute;
            width: 50%;
            height: 700px;
            background-color: rgba($color: #000000, $alpha: 0.5);
            opacity: 1;
            z-index: 1000;
            justify-items: center;
            align-items: center;
            justify-content: space-around;
            .feature2Previous{
                min-width: 50px;
                min-height: 50px;
                // background-color: salmon;
                border-radius: 50%;
                border-style: solid;
                border-color: white;
                border-width: 3px;
                img{
                    filter: brightness(0) invert(1);
                    margin-top: 5px;
                    max-width: 40px;
                }
                &:hover{
                    // border-color: red;
                    box-shadow: 0px 0px 10px 5px white;
                }
            }
            .feature2Banner{
                .feature-number{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10%;
                    .feature-title{
                        color: #c5ab6a;
                    }
                    .line{
                        width: 50%;
                        height: 0px;
                        border-top: 0.1px;
                        border-style: solid;
                        border-color: #c5ab6a;
                    }
                    .feaguredigit{
                        border-radius: 50%;
                        min-width:  50px;
                        min-height: 43px;
                        padding-top: 6px;
                        border: 2px solid #c5ab6a;
                        color: #c5ab6a;
                        text-align: center;
                        font: 32px Arial, sans-serif;
                    }
                }
                .featureText{
                    max-width: 400px;
                    color: white;  
                    h1{
                        color: #e4e1cf;
                    }
                    h3{
                        color: #f7a021;
                    }
                    p{
                        color: #f6f0e7;
                    }
                }
            }
            .feature2Next{
                min-width: 50px;
                min-height: 50px;
                // background-color: salmon;
                border-radius: 50%;
                border-style: solid;
                border-color: white;
                border-width: 3px;
                img{
                    filter: brightness(0) invert(1);
                    margin-left: 10px;
                    margin-top: 5px;
                    max-width: 40px;
                }
                &:hover{
                    // border-color: red;
                    box-shadow: 0px 0px 10px 5px white;
                }
            }
        }
        .feature2Images{
            img{
                margin-bottom: -4px;
                width: 2000px;
            }
        }
    }
    .feature3{
        position: relative;
        background-color: white;
        width: 100%;
        height: 700px;
        overflow: hidden;
        .feature3Desc{
            display: flex;
            position: absolute;
            width: 50%;
            height: 700px;
            background-color: rgba($color: #000000, $alpha: 0.5);
            opacity: 1;
            z-index: 1000;
            left: 50%;
            justify-items: center;
            align-items: center;
            justify-content: space-around;
            .feature3Previous{   
                min-width: 50px;
                min-height: 50px;
                // background-color: salmon;
                border-radius: 50%;
                border-style: solid;
                border-color: white;
                border-width: 3px;
                img{
                    filter: brightness(0) invert(1);
                    margin-top: 5px;
                    max-width: 40px;
                }
                &:hover{
                    // border-color: red;
                    box-shadow: 0px 0px 10px 5px white;
                }
            }
            .feature3Banner{
                .feature-number{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 10%;
                    .feature-title{
                        color: #c5ab6a;
                    }
                    .line{
                        width: 50%;
                        height: 0px;
                        border-top: 0.1px;
                        border-style: solid;
                        border-color: #c5ab6a;
                    }
                    .feaguredigit{
                        border-radius: 50%;
                        min-width:  50px;
                        min-height: 43px;
                        padding-top: 6px;
                        border: 2px solid #c5ab6a;
                        color: #c5ab6a;
                        text-align: center;
                        font: 32px Arial, sans-serif;
                    }
                }
                .featureText{
                    max-width: 400px;
                    color: white;  
                    h1{
                        color: #e4e1cf;
                    }
                    h3{
                        color: #f7a021;
                    }
                    p{
                        color: #f6f0e7;
                    }
                }
            }
            .feature3Next{  
                min-width: 50px;
                min-height: 50px;
                // background-color: salmon;
                border-radius: 50%;
                border-style: solid;
                border-color: white;
                border-width: 3px;
                img{
                    filter: brightness(0) invert(1);
                    margin-left: 10px;
                    margin-top: 5px;
                    max-width: 40px;
                }
                &:hover{
                    // border-color: red;
                    box-shadow: 0px 0px 10px 5px white;
                }
            }
        }
        .feature3Images{
            img{
                margin-bottom: -4px;
                width: 2000px;
            }
        }
    }
}
.crossplatform{
    width: 100%;
    height: 700px;
    background-image: url('../img/crossplay-bg-colored.png');
    background-size: cover;
    background-position:20%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    // flex: 1;
    .crossplatformdesc{
        display: flex;
        margin: 0;
        gap: 0px;
        width: 50%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // background-color: red;
        h1{
            color: #ffd972;
            font-size: 2.5rem;
            text-align: center;
        }
        h3{
            margin-top: -15px;
            color: #f0faf4;
            font-size: 1rem;
            text-align: center;
        }
        a{
            color:  #fff072;
        }
        img{
            width: 550px;
            
        }
    }
}
.news{
    background-image: url('../img/news-background1.png');
    background-size: cover;
    width: 100%;
    height: 700px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    .newsdesc{
        height: 100%;
        width: 70%;
        // background-color: red;
        
        h1{
            font-size: 2.5rem;
            color: #e4e1cf;
            // padding-left: 40px;
        }
        h3{
            font-size: 1rem;
            color: #f29921;
            // padding-left: 40px;
        }
        ul{
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding-inline-start: 0px;
            li{
                // background-color: blue;
                img{
                    width: 300px;
                    height: 200px;
                }
                .newsdate{
                    color: #f29921;
                }
                strong{
                    color: #f29921;
                }
                .newscontent{
                    max-width: 300px;
                    color: #fbfcf8;
                }
                .readmore{
                    color: #f42f00;
                }
            }
        }
    }
}
.adventure-awaits{
    background-image: url(../img/scenes-horror-canyon-new-export.png);
    width: 100%;
    background-size: cover;
    height: 850px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    img{

    }
    .adventure-awaits-contents{
        margin-top: -100px;
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h1{
            font-size: 3rem;
            text-align: center;
            color: #f7a944;
        }
        p{
            margin-top: -30px;
            color: #f9f0e6;
            text-align: center;
        }
        a{
            text-decoration: none;
            color: #f8ffff;
            div{
                width: 200px;
                height: 50px;
                background-color: #ec552c;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &:hover{
                div{
                    background-color: #db461e;
                }
            }
        }
        .media-list{
            display: flex;
            flex-direction: row;
            list-style: none;
            gap: 50px;
            li{
                img{
                    width: 150px;
                }
            }
        }
    }
    
}
footer{
    background-color: #1d2932;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.socials{
    display: flex;
    justify-content: center;
    height: 50px;
    ul{
        display: flex;
        flex-direction: row;
        gap: 5px;
        li{
            
            list-style: none;
            img{
                width: 40px;
                height: 40px;
            }
        }
    }
}
.footer-links{
    margin-top: 30px;
    width: 50%;
    // background-color: green;
    border-top: 2px;
    border-bottom: 2px;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-color: #747370;
    ul{
        display: flex;
        flex-direction: row;
        list-style: none;
        gap: 20px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        li{
            a{
                color: #9b9b9c;
                text-decoration: none;
            }
        }
    }
}
.marks{
    text-align: center;
    p{
        font-size: 0.8rem;
        color: #617b92;
    }
}
.imageTransition{
    opacity: 1;
    animation: fade 0.5s linear;
}
@keyframes fade{
    0% { opacity: 0 }
    100% { opacity: 1 }
}

